:root {
    --body-background-color: #fff;
    --primary-color: #2098d5;
    --secodary-color: #253a83;
    --info-color: #777C87;
    --white-color: #fff;
    --black-color: #000;
    --secondary-white-color: #faf9f9;
    --gray-color: #858484;
    --dimension: 9vw;
    --duration: 1.8s;
    --light-gray: #faf9f9;
}


/* font-family css variables */

:root {
    --regular-font-family: "poppins-regular", sans-serif;
    --bold-font-family: "poppins-bold", sans-serif;
    --Medium-font-family: "poppins-Medium", sans-serif;
    --transform-font-family: "bauerbodoni-std", sans-serif;
    --century-gothic-font: "gothic", sans-serif;
}


/* mobile root css */
:root {
    --roman-font-stye: Roman, sans-serif;
}