@font-face {
	font-family: 'gothic';
	src: url('gothic.eot');
	src: local('gothic'), url('gothic.woff') format('woff'), url('gothic.ttf') format('truetype');
}

@font-face {
    font-family:"poppins-regular";
    src:url("poppins-regular.woff2") format("woff2"),
    url("poppins-regular.woff") format("woff"),
    url("poppins-regular.ttf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"poppins-medium";
    src:url("poppins-medium.woff2") format("woff2"),
    url("poppins-medium.woff") format("woff"),
    url("poppins-medium.ttf") format("opentype");
    font-style:normal;font-weight:500;
}

@font-face {
    font-family:"poppins-bold";
    src:url("poppins-bold.woff2") format("woff2"),
    url("poppins-bold.woff") format("woff"),
    url("poppins-bold.ttf") format("opentype");
    font-style:normal;font-weight:700;
}


@font-face {
    font-family: "bauerbodoni-std";
    src: url("Bauer-Bodoni-Std.ttf") format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: "icomoon";
    src: url("icomoon.ttf") format("opentype"),
    url("ico-moon.woff") format("woff"),
    url("ico-moon.svg") format("svg");
    font-style: normal;
    font-weight: 700;
}