/* Document  ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

/* *****************************************************************************
                                Common Css Start Here   
  *********************************************************************************/
:root {
  --body-background-color: #fff;
  --primary-color: #2098d5;
  --secodary-color: #253a83;
  --white-color: #fff;
  --black-color: #000;
  --secondary-white-color: #faf9f9;
  --gray-color: #858484;
}
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Rubik", sans-serif;
  color: var(--gray-color);
  position: relative;
}

p {
  line-height: 28px;
  font-size: 15px;
}

html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
  color: var(--black-color);
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: --var(--black-color);
}

img {
  max-width: 100%;
}

a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.no-padding {
  padding: 0;
}

.flaticon {
  display: inline;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
  line-height: 38px;
}

h4 {
  font-size: 22px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 26px;
}

.f-color {
  color: #635cdb;
}

h5.subtitle {
  font-size: 16px;
  font-weight: 400;
}

.mb30 {
  margin-bottom: 30px;
}

.section-padding {
  padding: 90px 0px;
}

.section-heading {
  text-align: center;
  width: 70%;
  margin: 0 auto 60px;
}

.section-title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.section-title span {
  color: #635cdb;
}
.section {
  padding: 100px 0px;
}

.line {
  width: 50px;
  background: #635cdb;
  height: 1px;
  margin: 10px auto;
}

/*---------- BUTTONS ----------*/

.btn {
  font: 600 10.5px/1;
  display: inline-block;
  padding: 15px 45px 15px 45px;
  text-transform: uppercase;
  border: 2px solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 0px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  border-radius: none;
}

.btn:focus,
.btn:active,
.btn:active:focus {
  outline: none;
  box-shadow: none;
}

.btn-hero,
.btn-white:hover {
  color: #fff !important;
  background: #635cdb;
}

.btn-hero:focus {
  color: #fff !Important;
}

.btn-black,
.btn-hero:hover {
  background-color: rgba(0, 0, 0, 1);
  color: #fff !Important;
}

.btn-black:hover {
  color: #fff;
  background: #635cdb;
}

.btn-black:focus {
  color: #fff;
}

.btn-white {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-white:focus {
  color: #000;
}

.btn-white:active {
  color: #fff;
}

.btn-trans-black {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.85);
}

.btn-trans-black:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #000;
}

.btn-trans-white {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.95);
}

.btn-trans-white:hover {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-trans-white:active,
.btn-trans-white:focus {
  color: #fff;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-rounded {
  border-radius: 2px;
}

.btn-circled {
  border-radius: 40px 0px 40px 40px;
}

.btn-trans-black:hover {
  background: #635cdb !important;
}

/*---------- COLORS ----------*/

/*-- Background Colors --*/

.bg-black {
  background-color: #000;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.96);
}

.bg-feature {
  background-color: #635cdb;
}

.bg-primary {
  background-color: #0db8ca;
}

.bg-gray {
  background-color: #f2f4ec;
}

.bg-white {
  background-color: #fff;
}

.d-table {
  width: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.overlay.dark-overlay{
  position: absolute;
  top: 0;
  left: 30%;
  max-width: 80%;
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--secodary-color) 100%);
  height: 100%;
  border-radius: 0px 0px 0px 80px;
}

.brown-overlay {
  background: #222955;
  opacity: 0.97;
}

.feature-overlay {
  background: #635cdb;
  opacity: 0.97;
}

.gr-overlay {
  background: linear-gradient(135deg, #2f1ce0 0%, #53a0fd 30%, #51eca5 100%);
  opacity: 0.87;
}

/*------------------------------------
MENU NAVIGATION AREA
----------------------------------*/


.site-navigation .navbar-nav a,
.trans-navigation .navbar-nav a {
  text-transform: uppercase;
}

.site-navigation .navbar-nav a.active,
.trans-navigation .navbar-nav a.active {
  color: red;
}

.header-white {
  position: fixed;
  top: 0px;
  background: var(--white-color);
  z-index: 9999;
  width: 100%;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #000 !important;
}
img.img-fluid.b-logo {
  max-width: 70px;
  height: 70px;
}
.navbar-expand-lg.trans-navigation .navbar-nav .nav-link,
.navbar-expand-lg.site-navigation .navbar-nav .nav-link {
  padding: 0px 24px;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link:last-child,
.navbar-expand-lg.site-navigation .navbar-nav .nav-link:last-child {
  padding-right: 0px;
  font-size: small;
}

.site-navigation,
.trans-navigation {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.navbar-brand {
  padding-top: 0px;
  margin-right: 60px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}

.navbar-brand span {
  font-weight: 400;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link {
  color: #fff;
}

.trans-navigation {
  background: transparent;
}

.trans-navigation.header-white {
  background: #111;
}

.trans-navigation.header-white .navbar-nav .nav-link {
  color: #fff;
}

.trans-navigation.header-white .navbar-nav a.active {
  color: #635cdb;
}
.navbar-brand img {
  max-width: 100%;
}

.trans-navigation.header-white .btn-white {
  background: #635cdb;
  color: #fff;
}

/* ===============================
DROPDOWN MENU
================================*/

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link.dropdown-toggle {
  padding-right: 0px;
}

.nav-item.dropdown .dropdown-menu {
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  display: block;
  visibility: hidden;
  opacity: 0;
  top: 120%;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05),
    -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  border: 0px;
  padding: 0px;
  position: absolute;
}

.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #635cdb;
}

.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  opacity: 0;
}

.dropdown-menu.show {
  animation: 0.2s forwards b;
}

@keyframes b {
  to {
    opacity: 1;
  }
}

.dropdown-item {
  font-size: 0.6875rem;
  font-weight: 500;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: background-color 0.1s;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .dropdown-item {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

@media (min-width: 1200px) {
  .dropdown-item + .dropdown-item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

/*------------------------------------
BANNER AREA
----------------------------------*/

.banner-area .content-padding {
  padding: 197px 0px 100px;
}

.content-padding {
  padding: 180px 0px 80px;
}

.banner-content {
  padding-right: 30px;
}

.banner-content .btn {
  margin-top: 15px;
}

.banner-content .banner-title {
  color: #fff;
  font-weight: 700;
  line-height: 50px;
}

.banner-content .subtitle {
  color: #fff;
  background: #635cdb;
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subtitle {
  color: #635cdb;
}

.banner-content p {
  margin: 20px 0px;
  color: #eee;
  font-size: 14px;
  line-height: 30px;
}

.banner-content .btn {
  margin-right: 12px;
}

.btn-sm {
  padding: 10px 30px;
}

.banner-1 {
  background: url("../img/banner/bg-2.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

.banner-2 {
  background: url("../img/banner/slider-3.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

.banner-3 {
  background: url("../img/banner/banner-bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

.section-heading h2 {
  margin-bottom: 20px;
  font-weight: 400;
}
.left-side-div-text h1 {
  position: absolute;
  left: -6rem;
  top: 226px;
  font-size: 76px;
  text-transform: uppercase;
  transform: rotate(270deg);
  color: var(--secodary-color);
}
.img-wrapper {
  height: 448px;
    max-width: 400px;
    border-radius: 35px 0 0;
    margin-left: 100px;
    background: var(--white-color);
    -webkit-box-shadow: 3px 2px 35px #d3d1d1;
    -moz-box-shadow: 3px 2px 35px #d3d1d1;
    box-shadow: 3px 2px 35px #d3d1d1;
    position: relative;
    top: 40px;
}

#design{
  display: none;
}