/* Document  ========================================================================== */


/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/


/* *****************************************************************************
                            Common Css Start Here   
*********************************************************************************/

@import url(variable.css);
body {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: var(--regular-font-family);
    color: var(--gray-color);
    position: relative;
}

p {
    line-height: 28px;
    font-size: 15px;
}

html {
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    border: 0;
    margin: 0;
    padding: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
    color: var(--black-color);
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: var(--black-color);
}

img {
    max-width: 100%;
}

a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.no-padding {
    padding: 0;
}

h1 {
    font-weight: 700;
    line-height: 75px;
    font-size: 50px;
    font-family: var(--regular-font-family);
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
    line-height: 38px;
}

h4 {
    font-size: 22px;
    line-height: 32px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
}

h6 {
    font-size: 14px;
    line-height: 26px;
}

.f-color {
    color: #635cdb;
}

h5.subtitle {
    font-size: 16px;
    font-weight: 400;
}

.mb30 {
    margin-bottom: 30px;
}


/*---------- BUTTONS ----------*/

.btn {
    font: 600 10.5px/1;
    display: inline-block;
    padding: 15px 45px 15px 45px;
    text-transform: uppercase;
    border: 2px solid transparent;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 0px;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
    border-radius: none;
    transition: .6s ease-in-out;
}

.btn:focus,
.btn:active,
.btn:active:focus {
    outline: none;
    box-shadow: none;
}

.btn-hero,
.btn-white:hover {
    color: var(--primary-color) !important;
}

.btn-hero:focus {
    color: #fff !Important;
}

.btn-black,
.btn-hero:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #fff !Important;
}

.btn-black:hover {
    color: #fff;
    background: #635cdb;
}

.btn-black:focus {
    color: #fff;
}

.btn-white {
    background-color: rgba(255, 255, 255, 0.95);
    color: rgba(0, 0, 0, 0.85);
    border-color: rgba(255, 255, 255, 0.12);
}

.btn-white:focus {
    color: #000;
}

.btn-white:active {
    color: #fff;
}

.btn-trans-black {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.85);
}

.btn-trans-black:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #000;
}

.btn-trans-white {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.95);
}

.btn-trans-white:hover {
    background-color: rgba(255, 255, 255, 0.95);
    color: rgba(0, 0, 0, 0.85);
    border-color: rgba(255, 255, 255, 0.12);
}

.btn-trans-white:active,
.btn-trans-white:focus {
    color: #fff;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.12);
}

.btn-rounded {
    border-radius: 2px;
}

.btn-circled {
    border-radius: 40px 0px 40px 40px;
}

.btn-trans-black:hover {
    background: #635cdb !important;
}


/*---------- COLORS ----------*/


/*-- Background Colors --*/

.bg-black {
    background-color: var(--black-color);
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.96);
}

.bg-feature {
    background-color: var(--secodary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-gray {
    background-color: #f2f4ec;
}

.bg-white {
    background-color: var(--white-color);
}

.d-table {
    width: 100%;
}

.d-table-cell {
    vertical-align: middle;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.overlay.dark-overlay {
    position: absolute;
    top: 0;
    left: 32%;
    max-width: 80%;
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--secodary-color) 100%);
    height: 100%;
    border-radius: 0px 0px 0px 80px;
    z-index: -1;
}


/*------------------------------------
MENU NAVIGATION AREA
----------------------------------*/

.site-navigation .navbar-nav a,
.trans-navigation .navbar-nav a {
    text-transform: uppercase;
}

.site-navigation .navbar-nav a.active,
.trans-navigation .navbar-nav a.active {
    color: #f5f5f5;
}

.header-white {
    position: fixed;
    top: 0px;
    background: var(--white-color);
    z-index: 9999;
    width: 100%;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    color: #000 !important;
}

img.img-fluid.b-logo {
    max-width: 70px;
    height: 70px;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link,
.navbar-expand-lg.site-navigation .navbar-nav .nav-link {
    padding: 0px 24px;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link:last-child,
.navbar-expand-lg.site-navigation .navbar-nav .nav-link:last-child {
    padding-right: 0px;
    font-size: 16px;
    font-weight: 500;
}

.site-navigation,
.trans-navigation {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.navbar-brand {
    padding-top: 0px;
    margin-right: 60px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
}

.navbar-brand span {
    font-weight: 400;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link {
    color: #fff;
}

.trans-navigation {
    background: transparent;
}

.trans-navigation.header-white {
    background: #111;
}

.trans-navigation.header-white .navbar-nav .nav-link {
    color: #fff;
}

.trans-navigation.header-white .navbar-nav a.active {
    color: #635cdb;
}

.navbar-brand img {
    max-width: 100%;
}

.trans-navigation.header-white .btn-white {
    background: #635cdb;
    color: #fff;
}

.navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    z-index: 999;
}


/* ===============================
DROPDOWN MENU
================================*/

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link.dropdown-toggle {
    padding-right: 0px;
}

.nav-item.dropdown .dropdown-menu {
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    display: block;
    visibility: hidden;
    opacity: 0;
    top: 120%;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    border: 0px;
    padding: 0px;
    position: absolute;
}

.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #635cdb;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    opacity: 0;
}

.dropdown-menu.show {
    animation: 0.2s forwards b;
}

@keyframes b {
    to {
        opacity: 1;
    }
}

.dropdown-item {
    font-size: 0.6875rem;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: background-color 0.1s;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .dropdown-item {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}

@media (min-width: 1200px) {
    .dropdown-item+.dropdown-item {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
}


/*------------------------------------
BANNER AREA
----------------------------------*/

.banner-area .content-padding {
    padding: 0px 210px 0px 0px;
}

.content-padding {
    padding: 180px 0px 80px;
}

.banner-content {
    padding-right: 30px;
}

.banner-content .btn {
    margin-top: 15px;
}

.banner-content .banner-title {
    color: #fff;
    font-weight: 700;
    line-height: 75px;
    font-size: 50px;
    margin-top: 0px;
}

.hero-intro {
    margin-top: 40px;
    margin-bottom: 50px;
}

.banner-content .subtitle {
    color: #fff;
    background: #635cdb;
    display: inline-block;
    padding: 3px 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.banner-content p {
    margin: 20px 0px;
    color: #eee;
    font-size: 17px;
    line-height: 34px;
    text-align: justify;
}

.banner-content .btn {
    margin-right: 12px;
}

.btn-sm {
    padding: 10px 30px;
}

.left-side-div-text h1 {
    position: absolute;
    left: -10.1rem;
    top: 60%;
    font-size: 116px;
    text-transform: uppercase;
    font-family: var(--transform-font-family);
    transform: rotate(-90deg) translate(15%, 0);
    color: var(--secodary-color);
}

.img-wrapper {
    height: 660px;
    max-width: 518px;
    border-radius: 60px 0 0;
    margin: 0 auto;
    left: 55px;
    background: var(--white-color);
    -webkit-box-shadow: 0 83px 155px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 83px 155px rgba(0, 0, 0, 0.06);
    box-shadow: 0 83px 155px rgba(0, 0, 0, 0.06);
    position: relative;
    top: 20px;
}


/**
* Square layer styles
*/

.layer-box {
    margin: 0 auto;
    position: relative;
    width: 230px;
    padding: 50px 15px;
    height: 100%;
}

.layer {
    display: block;
    position: relative;
    height: var(--dimension);
    width: var(--dimension);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, .2);
    transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateX(4rem) translateY(4rem);
}

.layer:nth-child(1) {
    position: absolute;
    background: #253a83;
    margin-top: var(--dimension)/2;
    opacity: 0.6;
    top: 185px;
    left: 40px;
    animation: movedown var(--duration) cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
    z-index: 11;
}

.layer::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
}

.layer:nth-child(2) {
    background: #37332f;
    z-index: 9;
    position: relative;
    top: 140px;
    left: 25px;
}

.layer:nth-child(3) {
    background: #f5f5f5;
    position: relative;
    top: 110px;
    z-index: 8;
    left: 25px;
    animation: moveup var(--duration) cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
}

@keyframes moveup {
    0%,
    60%,
    100% {
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(1em);
    }
}

@keyframes movedown {
    0%,
    60%,
    100% {
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(0);
    }
    25% {
        transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg) translateZ(-1em);
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1366px) {
    .container {
        max-width: 1166px;
    }
}


/*------------------------------------
SERVICES AREA
----------------------------------*/

.service-intro {
    padding: 0 120px 0px 0px;
    text-align: justify;
}

.service-circle {
    background: white;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    box-shadow: 0px 83px 155px rgba(0, 0, 0, 0.06);
}

.service-intro .service-icon {
    position: relative;
    width: 48px;
    height: 44px;
    left: 33%;
    top: 33%;
}

.service-icon:hover {
    color: white;
}


/*------------------------------------
ABOUT AREA
----------------------------------*/

.bg-light-gray {
    background-color: var(--light-gray);
}
.about-intro-detail{
    font-size: 17px;
    line-height: 33px;
}